<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NSArticle">
	<resultMap type="Article"  id="article" >
		<id property="articleId" column="articleId"  javaType="java.lang.String" />
		<result property="title" column="title" javaType="java.lang.String" />
		<result property="content" column="content" javaType="java.lang.String" />
		<result property="mark" column="mark" javaType="java.lang.String" />
		<result property="createTime" column="createTime" javaType="java.util.Date" />
        <result property="updateTime" column="updateTime" javaType="java.util.Date" />
		<association property="user" column="userId" resultMap="NSUser.user"></association>
	</resultMap>
	
	<resultMap type="ArticleComment"  id="articleComment" >
		<id property="articleId" column="articleId" javaType="java.lang.String" />
		<result property="comment" column="comment" javaType="java.lang.String" />
		<result property="star" column="star" javaType="java.lang.Integer" />
		<result property="praise" column="praise" javaType="java.lang.Integer" />
        <result property="createTime" column="createTime" javaType="java.util.Date" />
        <result property="updateTime" column="updateTime" javaType="java.util.Date" />
		<association property="user" column="userId" resultMap="NSUser.user"></association>
	</resultMap>
	

</mapper>
