<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 汽车 品牌 及 记录 -->
<mapper namespace="NSCar">
	<resultMap type="Car"  id="car" >
		<id property="carId" column="carId" javaType="java.lang.String" />
		<result property="carNum" column="carNum" javaType="java.lang.String" />
        <result property="buyTime" column="buyTime" javaType="java.util.Date" />
        <result property="createTime" column="createTime" javaType="java.util.Date" />
        <result property="updateTime" column="updateTime" javaType="java.util.Date" />
        <association property="user" column="userId" resultMap="NSUser.user"/>
        <association property="brand" column="brandId" resultMap="brand"/>
	</resultMap>
    
    <resultMap id="brand" type="Brand">
        <id property="brandId" column="brandId" javaType="java.lang.String"/>
        <result property="brandName" column="brandName" javaType="java.lang.String"/>
        <result property="productName" column="productName" javaType="java.lang.String"/>
        <result property="productCountry" column="productCountry" javaType="java.lang.String"/>
        <result property="seriesName" column="seriesName" javaType="java.lang.String"/>
        <result property="seriesNum" column="seriesNum" javaType="java.lang.String"/>
        <result property="brandNum" column="brandNum" javaType="java.lang.String"/>
        <result property="marketTime" column="marketTime" javaType="java.util.Date"/>
    </resultMap>

    <resultMap id="carRecord" type="CarRecord">
        <id property="carId" column="carId" javaType="java.lang.String"/>
        <id property="serviceId" column="serviceId" javaType="java.lang.String" />
        <result property="content" column="content" javaType="java.lang.String" />
        <result property="createTime" column="createTime" javaType="java.lang.String" />
        <association property="car" column="carId" resultMap="car" />
        <association property="service" column="serviceId" resultMap="NSService.service" />
    </resultMap>

    <insert id="saveCar" parameterType="Car">
        insert into t_car(carId, carNum, buyTime, createTime, updateTime, userId, brandId) values(
        #{carId}, #{carNum}, #{buyTime}, #{createTime}, #{updateTime}, #{userId}, #{brandId})
    </insert>

    <select id="queryCarById" resultMap="car">
        select * from t_car tc inner joint t_user tu on tc.userId = tu.userId inner join t_brand tb on tc.brandId = tb.brandId
        where tc.carId = #{carId}
    </select>

    <select id="queryCarByCarNum" resultMap="car">
        select * from t_car tc inner joint t_user tu on tc.userId = tu.userId inner join t_brand tb on tc.brandId = tb.brandId
        where tc.carNum = #{carNum}
    </select>

    <select id="queryCarByUser" resultMap="car">
        select * from t_car tc inner joint t_user tu on tc.userId = tu.userId inner join t_brand tb on tc.brandId = tb.brandId
        where tu.userId = #{userId}
    </select>

    <update id="updateCar" parameterType="Car">
        update t_car set carNum = #{carNum}, buyTime = #{buyTime}, updateTime = #{updateTime}
        where carId = #{carId}
    </update>

    <delete id="deleteCar">
        delete from t_car where carId = #{carId}
    </delete>

    <insert id="saveBrand" parameterType="Brand">
        insert into t_brand(brandId, brandName, productName, productCountry, seriesName, seriesNum,
        brandNum, marketTime) values(#{brandId}, #{brandName}, #{productName, #{productCountry}, #{seriesName},
        #{seriesNum}, #{brandNum}, #{marketTime})
    </insert>

    <select id="queryBrandById" resultMap="brand">
        select * from t_brand where brandId = #{brandId}
    </select>

    <select id="queryBrands" resultMap="brand">
      select * from t_brand where brandName = #{brandName} or productName = #{productName} or productCountry = #{productCountry}
      or seriesName = #{seriesName} or seriesNum = #{seriesNum} or brandNum = #{brandNum} or marketTime = #{marketTime}
    </select>

    <update id="updateBrand">
        update t_brand set brandName = #{brandName}, productName = #{productName}, productCountry = #{productCountry},
        seriesName = #{seriesName}, seriesNum = #{seriesNum}, brandNum = #{brandNum}, marketTime = #{marketTime}
        where brandId = #{brandId}
    </update>

    <delete id="deleteBrand">
        delete from t_brand where brandId = #{brandId}
    </delete>

    <insert id="saveCarRecord" parameterType="CarRecord">
        insert into t_car_record(content, createTime, carId, serviceId) values(
        #{content}, #{createTime}, #{carId}, #{serviceId})
    </insert>

    <select id="queryCarRecordById" resultMap="carRecord">
        select * from t_car tc inner join t_car_record tcr on tc.carId = tcr.cardId inner join t_service ts on tcr.serviceId = ts.serviceId
        where tcr.carId = #{carId} and ts.serviceId = #{serviceId}
    </select>

    <select id="queryCarRecordByCar" resultMap="carRecord">
        select * from t_car tc inner join t_car_record tcr on tc.carId = tcr.cardId inner join t_service ts on tcr.serviceId = ts.serviceId
        where tcr.carId = #{carId}
    </select>

    <select id="queryCarRecordByCarAndServiceName" resultMap="carRecord">
        select * from t_car tc inner join t_car_record tcr on tc.carId = tcr.cardId inner join t_service ts on tcr.serviceId = ts.serviceId
        where tcr.carId = #{carId} and ts.serviceName like "%"#{serviceName}"%"
    </select>

</mapper>