<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Car">
	<resultMap type="Car"  id="car" >
		<id property="carId" column="carId" javaType="java.lang.String" />
		<result property="carNum" column="carNum" javaType="java.lang.String" />
        <result property="buyTime" column="buyTime" javaType="java.util.Date" />
        <result property="createTime" column="createTime" javaType="java.util.Date" />
        <result property="updateTime" column="updateTime" javaType="java.util.Date" />
        <association property="user" column="userId" resultMap="User.user"/>
        <association property="brand" column="brandId" resultMap="brand"/>
	</resultMap>
    
    <resultMap id="brand" type="Brand">
        <id property="brandId" column="brandId" javaType="java.lang.String"/>
        <result property="brandName" column="brandName" javaType="java.lang.String"/>
        <result property="productName" column="productName" javaType="java.lang.String"/>
        <result property="productCountry" column="productCountry" javaType="java.lang.String"/>
        <result property="seriesName" column="seriesName" javaType="java.lang.String"/>
        <result property="seriesNum" column="seriesNum" javaType="java.lang.String"/>
        <result property="brandNum" column="brandNum" javaType="java.lang.String"/>
        <result property="marketTime" column="marketTime" javaType="java.util.Date"/>
    </resultMap>

    <resultMap id="carRecord" type="CarRecord">
        <id property="carRecordId" column="carRecordId" javaType="java.lang.String"/>

    </resultMap>

</mapper>