<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  订单及购物车  -->
<mapper namespace="NSOrder">
	<resultMap type="Order" id="order">
		<id property="orderId" column="orderId"  javaType="java.lang.String" />
		<result property="remark" column="remark" javaType="java.lang.String" />
        <result property="receiver" column="receiver" javaType="java.lang.String" />
        <result property="country" column="country" javaType="java.lang.String" />
        <result property="province" column="province" javaType="java.lang.String" />
        <result property="city" column="city" javaType="java.lang.String" />
        <result property="district" column="district" javaType="java.lang.String" />
		<result property="detailAddress" column="detailAddress" javaType="java.lang.String" />
        <result property="postCode" column="postCode" javaType="java.lang.String" />
        <association property="user" column="userId" resultMap="NSUser.user"/>
        <association property="shopCart" column="shopCartId" resultMap="shopCart"/>
	</resultMap>
	
	<resultMap type="ShopCart" id="shopCart">
		<id property="shopCartId" column="shopCartId"  javaType="java.lang.String" />
		<result property="productId" column="productId" javaType="java.lang.String" />
        <result property="productName" column="productName" javaType="java.lang.String" />
        <result property="productDesc" column="productDesc" javaType="java.lang.String" />
        <result property="productPrice" column="productPrice" javaType="java.lang.Double" />
        <result property="realProductPrice" column="realProductPrice" javaType="java.lang.Double" />
        <result property="count" column="count" javaType="java.lang.Integer" />
        <result property="creatTime" column="createTime" javaType="java.util.Date"/>
	</resultMap>


</mapper>
