<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NSService">
	<resultMap type="Service"  id="service" >
		<id property="serviceId" column="serviceId" javaType="java.lang.String" />
		<result property="serviceName" column="serviceName" javaType="java.lang.String" />
		<result property="serviceDesc" column="serviceDesc" javaType="java.lang.String" />
		<result property="createTime" column="createTime" javaType="java.util.Date" />
		<result property="updateTime" column="updateTime" javaType="java.util.Date" />
        <association property="serviceCategory" column="serviceCategoryId" resultMap="serviceCategory"/>
	</resultMap>

    <resultMap type="ServiceCategory"  id="serviceCategory" >
        <id property="serviceCategoryId" column="serviceCategoryId" javaType="java.lang.String" />
        <result property="parentServiceCategoryId" column="parentServiceCategoryId" javaType="java.lang.String" />
        <result property="serviceCategoryName" column="serviceCategoryName" javaType="java.lang.String" />
        <result property="serviceCategoryDesc" column="serviceCategoryDesc" javaType="java.util.Date" />
        <result property="createTime" column="createTime" javaType="java.util.Date" />
        <result property="updateTime" column="updateTime" javaType="java.util.Date" />
    </resultMap>

    <insert id="saveService" parameterMap="Service">
        insert into t_service(serviceId, serviceName, serviceDesc, createTime, serviceCategoryId) values(
        #{serviceId}, #{serviceName}, #{serviceDesc}, #{createTime, #{serviceCategory.service})
    </insert>
</mapper>