<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NSUser">
	
	<!-- 用户实体 -->
	<resultMap type="User"  id="user" >
		<id property="userId" column="userId" javaType="java.lang.String" />
		<result property="username" column="username" javaType="java.lang.String" />
		<result property="password" column="password" javaType="java.lang.String" />
		<result property="email" column="email" javaType="java.lang.String" />
		<result property="phone" column="phone" javaType="java.lang.String" />
		<result property="avater" column="avater" javaType="java.lang.String" />
		<result property="qq" column="qq" javaType="java.lang.String" />
        <result property="weibo" column="weibo" javaType="java.lang.String" />
        <result property="weixin" column="weixin" javaType="java.lang.String" />
		<result property="createTime" column="createTime" javaType="java.util.Date" />
		<result property="updateTime" column="updateTime" javaType="java.util.Date" />
		<result property="status" column="status" javaType="java.lang.Integer" />
	</resultMap>

	<resultMap type="UserInfo"  id="userInfo" >
		<id property="userInfoId" column="userInfoId"  javaType="java.lang.String" />
		<result property="realName" column="realName" javaType="java.lang.String" />
		<result property="signature" column="signature" javaType="java.lang.String" />
		<result property="birthday" column="birthday" javaType="java.lang.String" />
		<result property="sex" column="sex" javaType="java.lang.Integer" />
		<result property="nickName" column="nickName" javaType="java.lang.String" />
        <result property="enName" column="enName" javaType="java.lang.String" />
        <result property="level" column="level" javaType="java.lang.Integer" />
        <result property="totalPraise" column="totalPraise" javaType="java.lang.Integer" />
        <result property="totalMount" column="totalMount" javaType="java.lang.Double" />
        <result property="totalScore" column="totalScore" javaType="java.lang.Integer" />
		<association property="user"  column="userInfoId"  resultMap="user"> </association>
	</resultMap>

	<insert id="saveUser" parameterType="User">
		insert into
		t_user(userId, username, password, email, phone, avater, qq, weibo, weixin, createTime, updateTime, status) values (
		#{userId}, #{username}, #{password}, #{email}, #{phone}, #{avater},
		#{qq}, #{weibo}, #{weixin}, #{createTime}, #{updateTime}, #{status})
	</insert>
	
	<update id="updateUser" parameterType="User">
		update t_user set
		email = #{email},
		phone = #{phone},
		email = #{email},
		avater = #{avater},
		qq = #{qq},
		weibo = #{weibo},
		weixin = #{weixin},
		status = #{status}
		where userId = #{userId}
	</update>
	
	<update id="changePassword">
		update t_user set password = #{password} where userId = #{userId}
	</update>

	<update id="changeStatus">
		update t_user set status = #{status} where userId = #{userId}
	</update>

	<select id="queryUserById"  resultMap="user">
		select *  from t_user u where u.id=#{userId}
	</select>
	
	<select id="queryUserForLogin"  resultMap="user">
		select *  from t_user u where u.username=#{param} or u.email=#{param} or u.phone=#{param}
	</select>

	<insert id="saveUserInfo" parameterType="UserInfo">
		insert into
		t_user_info(userInfoId, realName, signature, birthday, sex, nickName, enName, level, totalPraise, totalMount, totalScore) values (
		#{userInfoId}, #{realName}, #{signature}, #{birthday}, #{sex}, #{nickName}, #{enName}, #{level}, #{totalPraise}, #{totalMount}, #{totalScore})
	</insert>

	<!--<update id="updateUserInfo" parameterType="UserInfo">
		update t_user_info set realName = #{realName}, signature = #{signature}, birthday = #{birthday},
		sex = #{sex}, nickName = #{nickName}, enName= #{enName}, level = #{level}, totalPraise = #{totalPraise},
		totalMount = #{totalMount}, totalScore = #{totalScore}
		where userInfoId = #{userInfoId}
	</update>-->
	
	<select id="queryUserInfo" resultMap="UserInfo">
		select ui.*, u.*  from t_user_info ui inner join t_user u on ui.userInfoId = u.userId where u.username=#{userName} or u.email=#{email} or u.phone=#{email}
	</select>

</mapper>
