<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 公共的MyBatis全局配置 -->
	<properties>
		<property name="dialect" value="mysql"/>
	</properties>
	<settings>
	    <setting name="cacheEnabled" value="true"/>
	</settings>

	<typeAliases >
		<typeAlias type="com.shine.carlover.po.Address" alias="Address"/>
		<typeAlias type="com.shine.carlover.po.Article" alias="Article"/>
		<typeAlias type="com.shine.carlover.po.ArticleComment" alias="ArticleComment"/>
		<typeAlias type="com.shine.carlover.po.Brand" alias="Brand"/>
		<typeAlias type="com.shine.carlover.po.Car" alias="Car"/>
		<typeAlias type="com.shine.carlover.po.CarRecord" alias="CarRecord"/>
		<typeAlias type="com.shine.carlover.po.Order" alias="Order"/>
		<typeAlias type="com.shine.carlover.po.Product" alias="Product"/>
		<typeAlias type="com.shine.carlover.po.ProductCategory" alias="ProductCategory"/>
		<typeAlias type="com.shine.carlover.mongo.ProductThumbnails" alias="ProductThumbnails"/>
		<typeAlias type="com.shine.carlover.po.Service" alias="Service"/>
		<typeAlias type="com.shine.carlover.po.ServiceCategory" alias="ServiceCategory"/>
		<typeAlias type="com.shine.carlover.po.ShopCart" alias="ShopCart"/>
		<typeAlias type="com.shine.carlover.po.Store" alias="Store"/>
		<typeAlias type="com.shine.carlover.po.StoreComment" alias="StoreComment"/>
		<typeAlias type="com.shine.carlover.po.User" alias="User"/>
		<typeAlias type="com.shine.carlover.po.UserInfo" alias="UserInfo"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.shine.carlover.base.pager.interceptor.PagerInterceptor">
		</plugin>
	</plugins>
</configuration>